<!--
  - ROO :: Religionsunterricht leichtgemacht
  -
  - @package Roo
  - @author Christoph Fischer <chris@toph.de>
  - @copyright (c) Christoph Fischer, https://christoph-fischer.de
  - @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
  - @link https://codeberg.org/peregrinus/roo
  - @version git: $Id$
  -
  - Roo is based on the Laravel framework (https://laravel.com).
  - This file may contain code created by Laravel's scaffolding functions.
  -
  - This program is free software: you can redistribute it and/or modify
  - it under the terms of the GNU General Public License as published by
  - the Free Software Foundation, either version 3 of the License, or
  - (at your option) any later version.
  -
  - This program is distributed in the hope that it will be useful,
  - but WITHOUT ANY WARRANTY; without even the implied warranty of
  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  - GNU General Public License for more details.
  -
  - You should have received a copy of the GNU General Public License
  - along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<script setup>
import { ref } from 'vue'
import FormInput from '@/Components/Form/FormInput.vue'
import ModelEditor from '@/Components/ModelEditor.vue'

const props = defineProps({
    school: Object,
})

const mySchool = ref({
    id: props.school ? props.school.id : undefined,
    name: props.school ? props.school.name : '',
    address: props.school ? props.school.address : '',
    zip: props.school ? props.school.zip : '',
    city: props.school ? props.school.city : '',
    phone: props.school ? props.school.phone : '',
    email: props.school ? props.school.email : '',
    url: props.school ? props.school.url : '',
})

</script>


<template>
    <ModelEditor v-slot="editor" :model="mySchool" createTitle="Neue Schule anlegen" editTitle="Schule bearbeiten"
                 modelKey="school">
        <FormInput v-model="editor.form.name" autofocus label="Name der Schule" name="name" required type="text"/>
        <FormInput v-model="editor.form.address" label="Straße, HNr." name="address" type="text"/>
        <div class="row">
            <div class="col-md-2">
                <FormInput v-model="editor.form.zip" label="PLZ" name="zip" type="text"/>
            </div>
            <div class="col-md-10">
                <FormInput v-model="editor.form.city" label="Ort" name="city" type="text"/>
            </div>
        </div>
        <FormInput v-model="editor.form.phone" label="Telefon" name="phone" type="text"/>
        <FormInput v-model="editor.form.email" label="E-Mail" name="email" type="email"/>
        <FormInput v-model="editor.form.url" label="Homepage" name="url" type="text"/>
    </ModelEditor>
</template>


<style scoped>

</style>
