<!--
  - ROO :: Religionsunterricht leichtgemacht
  -
  - @package Roo
  - @author Christoph Fischer <chris@toph.de>
  - @copyright (c) Christoph Fischer, https://christoph-fischer.de
  - @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
  - @link https://codeberg.org/peregrinus/roo
  - @version git: $Id$
  -
  - Roo is based on the Laravel framework (https://laravel.com).
  - This file may contain code created by Laravel's scaffolding functions.
  -
  - This program is free software: you can redistribute it and/or modify
  - it under the terms of the GNU General Public License as published by
  - the Free Software Foundation, either version 3 of the License, or
  - (at your option) any later version.
  -
  - This program is distributed in the hope that it will be useful,
  - but WITHOUT ANY WARRANTY; without even the implied warranty of
  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  - GNU General Public License for more details.
  -
  - You should have received a copy of the GNU General Public License
  - along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<script setup>
import FormGroup from '@/Components/Form/FormGroup.vue'
import { computed } from 'vue'
import { usePage } from '@inertiajs/vue3'

const props = defineProps({
    name: String,
    label: String,
    help: String,
    type: String,
    modelValue: String,
    autofocus: Boolean,
    disabled: Boolean,
    readonly: Boolean,
    autocomplete: String,
    required: Boolean,
})

const error = (usePage().props.errors || {})[props.name] || ''
const isInvalid = computed(() => (error != '') || (props.required && (props.modelValue == '')))
const errorText = computed(() => error || (props.required && (props.modelValue == '') ? 'Dieses Feld muss ausgefüllt werden.' : ''))

</script>

<template>
    <FormGroup :help="help" :label="label" :name="name" :required="required">
        <input :aria-label="label" :aria-required="required ? 'true' : 'false'" :autocomplete="autocomplete"
               :autofocus="autofocus"
               :class="{'is-invalid': isInvalid}" :disabled="disabled" :name="name" :readonly="readonly"
               :required="required"
               :type="type ?? 'text'" :value="modelValue"
               class="form-control"
               @input="$emit('update:modelValue', $event.target.value)"/>
        <div v-if="errorText" class="invalid-feedback">{{ errorText }}</div>
    </FormGroup>
</template>


<style scoped>

</style>
