<!--
  - /**
  -  * ROO :: Religionsunterricht leichtgemacht
  -  *
  -  * @package Roo
  -  * @author Christoph Fischer <chris@toph.de>
  -  * @copyright (c) Christoph Fischer, https://christoph-fischer.de
  -  * @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
  -  * @link https://codeberg.org/peregrinus/roo
  -  * @version git: $Id$
  -  *
  -  * Roo is based on the Laravel framework (https://laravel.com).
  -  * This file may contain code created by Laravel's scaffolding functions.
  -  *
  -  * This program is free software: you can redistribute it and/or modify
  -  * it under the terms of the GNU General Public License as published by
  -  * the Free Software Foundation, either version 3 of the License, or
  -  * (at your option) any later version.
  -  *
  -  * This program is distributed in the hope that it will be useful,
  -  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  -  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -  * GNU General Public License for more details.
  -  *
  -  * You should have received a copy of the GNU General Public License
  -  * along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -  */
  -
  -->

<script setup>
import { Head } from '@inertiajs/vue3'
import { computed, onMounted, ref } from 'vue'
import { useMainStore } from '@/Stores/main'
import {
    mdiAccountMultiple,
    mdiCartOutline,
    mdiChartPie,
    mdiChartTimelineVariant,
    mdiGithub,
    mdiMonitorCellphone,
    mdiReload,
} from '@mdi/js'
import * as chartConfig from '@/Components/Charts/chart.config.js'
import LineChart from '@/Components/Charts/LineChart.vue'
import SectionMain from '@/Components/SectionMain.vue'
import CardBoxWidget from '@/Components/CardBoxWidget.vue'
import CardBox from '@/Components/CardBox.vue'
import TableSampleClients from '@/Components/TableSampleClients.vue'
import NotificationBar from '@/Components/NotificationBar.vue'
import BaseButton from '@/Components/BaseButton.vue'
import CardBoxTransaction from '@/Components/CardBoxTransaction.vue'
import CardBoxClient from '@/Components/CardBoxClient.vue'
import LayoutAuthenticated from '@/Layouts/LayoutAuthenticated.vue'
import SectionTitleLineWithButton from '@/Components/SectionTitleLineWithButton.vue'
import SectionBannerStarOnGitHub from '@/Components/SectionBannerStarOnGitHub.vue'

const chartData = ref(null)

const fillChartData = () => {
    chartData.value = chartConfig.sampleChartData()
}

onMounted(() => {
    fillChartData()
})

const mainStore = useMainStore()

const clientBarItems = computed(() => mainStore.clients.slice(0, 4))

const transactionBarItems = computed(() => mainStore.history)
</script>

<template>
    <LayoutAuthenticated>
        <Head title="Übersicht"/>
        <SectionMain>
            <SectionTitleLineWithButton
                :icon="mdiChartTimelineVariant"
                main
                title="Overview"
            >
                <BaseButton
                    :icon="mdiGithub"
                    color="contrast"
                    href="https://github.com/justboil/admin-one-vue-tailwind"
                    label="Star on GitHub"
                    rounded-full
                    small
                    target="_blank"
                />
            </SectionTitleLineWithButton>

            <div class="grid grid-cols-1 gap-6 lg:grid-cols-3 mb-6">
                <CardBoxWidget
                    :icon="mdiAccountMultiple"
                    :number="512"
                    color="text-emerald-500"
                    label="Clients"
                    trend="12%"
                    trend-type="up"
                />
                <CardBoxWidget
                    :icon="mdiCartOutline"
                    :number="7770"
                    color="text-blue-500"
                    label="Sales"
                    prefix="$"
                    trend="12%"
                    trend-type="down"
                />
                <CardBoxWidget
                    :icon="mdiChartTimelineVariant"
                    :number="256"
                    color="text-red-500"
                    label="Performance"
                    suffix="%"
                    trend="Overflow"
                    trend-type="alert"
                />
            </div>

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mb-6">
                <div class="flex flex-col justify-between">
                    <CardBoxTransaction
                        v-for="(transaction, index) in transactionBarItems"
                        :key="index"
                        :account="transaction.account"
                        :amount="transaction.amount"
                        :business="transaction.business"
                        :date="transaction.date"
                        :name="transaction.name"
                        :type="transaction.type"
                    />
                </div>
                <div class="flex flex-col justify-between">
                    <CardBoxClient
                        v-for="client in clientBarItems"
                        :key="client.id"
                        :date="client.created"
                        :login="client.login"
                        :name="client.name"
                        :progress="client.progress"
                    />
                </div>
            </div>

            <SectionBannerStarOnGitHub class="mt-6 mb-6"/>

            <SectionTitleLineWithButton :icon="mdiChartPie" title="Trends overview">
                <BaseButton
                    :icon="mdiReload"
                    color="whiteDark"
                    @click="fillChartData"
                />
            </SectionTitleLineWithButton>

            <CardBox class="mb-6">
                <div v-if="chartData">
                    <line-chart :data="chartData" class="h-96"/>
                </div>
            </CardBox>

            <SectionTitleLineWithButton :icon="mdiAccountMultiple" title="Clients"/>

            <NotificationBar :icon="mdiMonitorCellphone" color="info">
                <b>Responsive table.</b> Collapses on mobile
            </NotificationBar>

            <CardBox has-table>
                <TableSampleClients/>
            </CardBox>
        </SectionMain>
    </LayoutAuthenticated>
</template>
