/*
 * *
 *  * ROO :: Religionsunterricht leichtgemacht
 *  *
 *  * @package Roo
 *  * @author Christoph Fischer <chris@toph.de>
 *  * @copyright (c) Christoph Fischer, https://christoph-fischer.de
 *  * @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
 *  * @link https://codeberg.org/peregrinus/roo
 *  * @version git: $Id$
 *  *
 *  * Roo is based on the Laravel framework (https://laravel.com).
 *  * This file may contain code created by Laravel's scaffolding functions.
 *  *
 *  * This program is free software: you can redistribute it and/or modify
 *  * it under the terms of the GNU General Public License as published by
 *  * the Free Software Foundation, either version 3 of the License, or
 *  * (at your option) any later version.
 *  *
 *  * This program is distributed in the hope that it will be useful,
 *  * but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  * GNU General Public License for more details.
 *  *
 *  * You should have received a copy of the GNU General Public License
 *  * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 *
 */

@layer base {
    html {
        scrollbar-width: thin;
        scrollbar-color: rgb(156, 163, 175) rgb(249, 250, 251);
    }

    body::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    body::-webkit-scrollbar-track {
        @apply bg-gray-50;
    }

    body::-webkit-scrollbar-thumb {
        @apply bg-gray-400 rounded;
    }

    body::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-500;
    }
}

@layer utilities {
    .dark-scrollbars-compat {
        scrollbar-color: rgb(71, 85, 105) rgb(30, 41, 59);
    }

    .dark-scrollbars::-webkit-scrollbar-track {
        @apply bg-slate-800;
    }

    .dark-scrollbars::-webkit-scrollbar-thumb {
        @apply bg-slate-600;
    }

    .dark-scrollbars::-webkit-scrollbar-thumb:hover {
        @apply bg-slate-500;
    }
}
