/*
 * *
 *  * ROO :: Religionsunterricht leichtgemacht
 *  *
 *  * @package Roo
 *  * @author Christoph Fischer <chris@toph.de>
 *  * @copyright (c) Christoph Fischer, https://christoph-fischer.de
 *  * @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
 *  * @link https://codeberg.org/peregrinus/roo
 *  * @version git: $Id$
 *  *
 *  * Roo is based on the Laravel framework (https://laravel.com).
 *  * This file may contain code created by Laravel's scaffolding functions.
 *  *
 *  * This program is free software: you can redistribute it and/or modify
 *  * it under the terms of the GNU General Public License as published by
 *  * the Free Software Foundation, either version 3 of the License, or
 *  * (at your option) any later version.
 *  *
 *  * This program is distributed in the hope that it will be useful,
 *  * but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  * GNU General Public License for more details.
 *  *
 *  * You should have received a copy of the GNU General Public License
 *  * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 *
 */

@layer base {
    table {
        @apply w-full;
    }

    thead {
        @apply hidden lg:table-header-group;
    }

    tr {
        @apply max-w-full block relative border-b-4 border-gray-100
        lg:table-row lg:border-b-0 dark:border-slate-800;
    }

    tr:last-child {
        @apply border-b-0;
    }

    td:not(:first-child) {
        @apply lg:border-l lg:border-t-0 lg:border-r-0 lg:border-b-0 lg:border-gray-100 lg:dark:border-slate-700;
    }

    th {
        @apply lg:text-left lg:p-3;
    }

    td {
        @apply flex justify-between text-right py-3 px-4 align-top border-b border-gray-100
        lg:table-cell lg:text-left lg:p-3 lg:align-middle lg:border-b-0 dark:border-slate-800;
    }

    td:last-child {
        @apply border-b-0;
    }

    tbody tr, tbody tr:nth-child(odd) {
        @apply lg:hover:bg-gray-100 lg:dark:hover:bg-slate-700/70;
    }

    tbody tr:nth-child(odd) {
        @apply lg:bg-gray-100/50 lg:dark:bg-slate-800/50;
    }

    td:before {
        content: attr(data-label);
        @apply font-semibold pr-3 text-left lg:hidden;
    }
}
