<!--
  - /**
  -  * ROO :: Religionsunterricht leichtgemacht
  -  *
  -  * @package Roo
  -  * @author Christoph Fischer <chris@toph.de>
  -  * @copyright (c) Christoph Fischer, https://christoph-fischer.de
  -  * @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
  -  * @link https://codeberg.org/peregrinus/roo
  -  * @version git: $Id$
  -  *
  -  * Roo is based on the Laravel framework (https://laravel.com).
  -  * This file may contain code created by Laravel's scaffolding functions.
  -  *
  -  * This program is free software: you can redistribute it and/or modify
  -  * it under the terms of the GNU General Public License as published by
  -  * the Free Software Foundation, either version 3 of the License, or
  -  * (at your option) any later version.
  -  *
  -  * This program is distributed in the hope that it will be useful,
  -  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  -  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -  * GNU General Public License for more details.
  -  *
  -  * You should have received a copy of the GNU General Public License
  -  * along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -  */
  -
  -->

<script setup>
import { computed, ref } from 'vue'
import { Link } from '@inertiajs/vue3'
import { useStyleStore } from '@/Stores/style.js'
import { mdiMinus, mdiPlus } from '@mdi/js'
import { getButtonColor } from '@/colors.js'
import BaseIcon from '@/Components/BaseIcon.vue'
import AsideMenuList from '@/Components/AsideMenuList.vue'

const props = defineProps({
    item: {
        type: Object,
        required: true,
    },
    isDropdownList: Boolean,
})

const emit = defineEmits(['menu-click'])

const styleStore = useStyleStore()

const hasColor = computed(() => props.item && props.item.color)

// Add itemHref
const itemHref = computed(() =>
    props.item.route ? route(props.item.route) : props.item.href,
)

// Add activeInactiveStyle
const activeInactiveStyle = computed(() =>
    props.item.route && route().current(props.item.route)
        ? styleStore.asideMenuItemActiveStyle
        : '',
)

const isDropdownActive = ref(false)

const componentClass = computed(() => [
    props.isDropdownList ? 'py-3 px-6 text-sm' : 'py-3',
    hasColor.value
        ? getButtonColor(props.item.color, false, true)
        : `${styleStore.asideMenuItemStyle} dark:text-slate-300 dark:hover:text-white`,
])

const hasDropdown = computed(() => !!props.item.menu)

const menuClick = (event) => {
    emit('menu-click', event, props.item)

    if (hasDropdown.value) {
        isDropdownActive.value = !isDropdownActive.value
    }
}
</script>

<template>
    <li>
        <component
            :is="item.route ? Link : 'a'"
            :class="componentClass"
            :href="itemHref"
            :target="item.target ?? null"
            class="flex cursor-pointer"
            @click="menuClick"
        >
            <BaseIcon
                v-if="item.icon"
                :class="activeInactiveStyle"
                :path="item.icon"
                :size="18"
                class="flex-none"
                w="w-16"
            />
            <span
                :class="[
          { 'pr-12': !hasDropdown },
          activeInactiveStyle,
        ]"
                class="grow text-ellipsis line-clamp-1"
            >{{ item.label }}</span
            >
            <BaseIcon
                v-if="hasDropdown"
                :class="activeInactiveStyle"
                :path="isDropdownActive ? mdiMinus : mdiPlus"
                class="flex-none"
                w="w-12"
            />
        </component>
        <AsideMenuList
            v-if="hasDropdown"
            :class="[
        styleStore.asideMenuDropdownStyle,
        isDropdownActive ? 'block dark:bg-slate-800/50' : 'hidden',
      ]"
            :menu="item.menu"
            is-dropdown-list
        />
    </li>
</template>
