<!--
  - /**
  -  * ROO :: Religionsunterricht leichtgemacht
  -  *
  -  * @package Roo
  -  * @author Christoph Fischer <chris@toph.de>
  -  * @copyright (c) Christoph Fischer, https://christoph-fischer.de
  -  * @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
  -  * @link https://codeberg.org/peregrinus/roo
  -  * @version git: $Id$
  -  *
  -  * Roo is based on the Laravel framework (https://laravel.com).
  -  * This file may contain code created by Laravel's scaffolding functions.
  -  *
  -  * This program is free software: you can redistribute it and/or modify
  -  * it under the terms of the GNU General Public License as published by
  -  * the Free Software Foundation, either version 3 of the License, or
  -  * (at your option) any later version.
  -  *
  -  * This program is distributed in the hope that it will be useful,
  -  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  -  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -  * GNU General Public License for more details.
  -  *
  -  * You should have received a copy of the GNU General Public License
  -  * along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -  */
  -
  -->

<script setup>
import { computed } from 'vue'
import { getButtonColor } from '@/colors.js'
import BaseIcon from '@/Components/BaseIcon.vue'

const props = defineProps({
    label: {
        type: [String, Number],
        default: null,
    },
    icon: {
        type: String,
        default: null,
    },
    iconSize: {
        type: [String, Number],
        default: null,
    },
    href: {
        type: String,
        default: null,
    },
    target: {
        type: String,
        default: null,
    },
    routeName: {
        type: String,
        default: null,
    },
    type: {
        type: String,
        default: null,
    },
    color: {
        type: String,
        default: 'white',
    },
    as: {
        type: String,
        default: null,
    },
    small: Boolean,
    outline: Boolean,
    active: Boolean,
    disabled: Boolean,
    roundedFull: Boolean,
})

const is = computed(() => {
    if (props.as) {
        return props.as
    }

    if (props.routeName) {
        return Link
    }

    if (props.href) {
        return 'a'
    }

    return 'button'
})

const computedType = computed(() => {
    if (is.value === 'button') {
        return props.type ?? 'button'
    }

    return null
})

const labelClass = computed(() =>
    props.small && props.icon ? 'px-1' : 'px-2',
)

const componentClass = computed(() => {
    const base = [
        'inline-flex',
        'justify-center',
        'items-center',
        'whitespace-nowrap',
        'focus:outline-none',
        'transition-colors',
        'focus:ring',
        'duration-150',
        'border',
        props.disabled ? 'cursor-not-allowed' : 'cursor-pointer',
        props.roundedFull ? 'rounded-full' : 'rounded',
        getButtonColor(props.color, props.outline, !props.disabled, props.active),
    ]

    if (!props.label && props.icon) {
        base.push('p-1')
    } else if (props.small) {
        base.push('text-sm', props.roundedFull ? 'px-3 py-1' : 'p-1')
    } else {
        base.push('py-2', props.roundedFull ? 'px-6' : 'px-3')
    }

    if (props.disabled) {
        base.push(props.outline ? 'opacity-50' : 'opacity-70')
    }

    return base
})
</script>

<template>
    <component
        :is="is"
        :class="componentClass"
        :disabled="disabled"
        :href="routeName ? route(routeName) : href"
        :target="target"
        :type="computedType"
    >
        <BaseIcon v-if="icon" :path="icon" :size="iconSize"/>
        <span v-if="label" :class="labelClass">{{ label }}</span>
    </component>
</template>
