<!--
  - /**
  -  * ROO :: Religionsunterricht leichtgemacht
  -  *
  -  * @package Roo
  -  * @author Christoph Fischer <chris@toph.de>
  -  * @copyright (c) Christoph Fischer, https://christoph-fischer.de
  -  * @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
  -  * @link https://codeberg.org/peregrinus/roo
  -  * @version git: $Id$
  -  *
  -  * Roo is based on the Laravel framework (https://laravel.com).
  -  * This file may contain code created by Laravel's scaffolding functions.
  -  *
  -  * This program is free software: you can redistribute it and/or modify
  -  * it under the terms of the GNU General Public License as published by
  -  * the Free Software Foundation, either version 3 of the License, or
  -  * (at your option) any later version.
  -  *
  -  * This program is distributed in the hope that it will be useful,
  -  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  -  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -  * GNU General Public License for more details.
  -  *
  -  * You should have received a copy of the GNU General Public License
  -  * along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -  */
  -
  -->

<script>
import { defineComponent, h } from 'vue'

export default defineComponent({
    name: 'BaseLevel',
    props: {
        mobile: Boolean,
        type: {
            type: String,
            default: 'justify-between',
        },
    },
    render () {
        const parentClass = [this.type, 'items-center']

        const parentMobileClass = ['flex']

        const parentBaseClass = ['block', 'md:flex']

        const childBaseClass = ['flex', 'items-center', 'justify-center']

        return h(
            'div',
            {
                class: parentClass.concat(
                    this.mobile ? parentMobileClass : parentBaseClass,
                ),
            },
            this.$slots.default().map((element, index) => {
                const childClass =
                    !this.mobile && this.$slots.default().length > index + 1
                        ? childBaseClass.concat(['mb-6', 'md:mb-0'])
                        : childBaseClass

                return h('div', { class: childClass }, [element])
            }),
        )
    },
})
</script>
