<!--
  - /**
  -  * ROO :: Religionsunterricht leichtgemacht
  -  *
  -  * @package Roo
  -  * @author Christoph Fischer <chris@toph.de>
  -  * @copyright (c) Christoph Fischer, https://christoph-fischer.de
  -  * @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
  -  * @link https://codeberg.org/peregrinus/roo
  -  * @version git: $Id$
  -  *
  -  * Roo is based on the Laravel framework (https://laravel.com).
  -  * This file may contain code created by Laravel's scaffolding functions.
  -  *
  -  * This program is free software: you can redistribute it and/or modify
  -  * it under the terms of the GNU General Public License as published by
  -  * the Free Software Foundation, either version 3 of the License, or
  -  * (at your option) any later version.
  -  *
  -  * This program is distributed in the hope that it will be useful,
  -  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  -  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -  * GNU General Public License for more details.
  -  *
  -  * You should have received a copy of the GNU General Public License
  -  * along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -  */
  -
  -->

<script>
import { defineComponent, h } from 'vue'

export default defineComponent({
    name: 'BaseButtons',
    props: {
        noWrap: Boolean,
        type: {
            type: String,
            default: 'justify-start',
        },
        classAddon: {
            type: String,
            default: 'mr-3 last:mr-0 mb-3',
        },
        mb: {
            type: String,
            default: '-mb-3',
        },
    },
    render () {
        const hasSlot = this.$slots && this.$slots.default

        const parentClass = [
            'flex',
            'items-center',
            this.type,
            this.noWrap ? 'flex-nowrap' : 'flex-wrap',
        ]

        if (this.mb) {
            parentClass.push(this.mb)
        }

        return h(
            'div',
            { class: parentClass },
            hasSlot
                ? this.$slots.default().map((element) => {
                    if (
                        element &&
                        element.children &&
                        typeof element.children === 'object'
                    ) {
                        return h(
                            element,
                            {},
                            element.children.map((child) => {
                                return h(child, { class: [this.classAddon] })
                            }),
                        )
                    }

                    return h(element, { class: [this.classAddon] })
                })
                : null,
        )
    },
})
</script>
