<!--
  - /**
  -  * ROO :: Religionsunterricht leichtgemacht
  -  *
  -  * @package Roo
  -  * @author Christoph Fischer <chris@toph.de>
  -  * @copyright (c) Christoph Fischer, https://christoph-fischer.de
  -  * @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
  -  * @link https://codeberg.org/peregrinus/roo
  -  * @version git: $Id$
  -  *
  -  * Roo is based on the Laravel framework (https://laravel.com).
  -  * This file may contain code created by Laravel's scaffolding functions.
  -  *
  -  * This program is free software: you can redistribute it and/or modify
  -  * it under the terms of the GNU General Public License as published by
  -  * the Free Software Foundation, either version 3 of the License, or
  -  * (at your option) any later version.
  -  *
  -  * This program is distributed in the hope that it will be useful,
  -  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  -  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -  * GNU General Public License for more details.
  -  *
  -  * You should have received a copy of the GNU General Public License
  -  * along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -  */
  -
  -->

<script setup>
import { computed } from 'vue'
import { mdiCashMinus, mdiCashPlus, mdiCreditCardOutline, mdiReceipt } from '@mdi/js'
import CardBox from '@/Components/CardBox.vue'
import BaseLevel from '@/Components/BaseLevel.vue'
import PillTag from '@/Components/PillTag.vue'
import IconRounded from '@/Components/IconRounded.vue'

const props = defineProps({
    amount: {
        type: Number,
        required: true,
    },
    date: {
        type: String,
        required: true,
    },
    business: {
        type: String,
        required: true,
    },
    type: {
        type: String,
        required: true,
    },
    name: {
        type: String,
        required: true,
    },
    account: {
        type: String,
        required: true,
    },
})

const icon = computed(() => {
    if (props.type === 'withdrawal') {
        return {
            icon: mdiCashMinus,
            type: 'danger',
        }
    } else if (props.type === 'deposit') {
        return {
            icon: mdiCashPlus,
            type: 'success',
        }
    } else if (props.type === 'invoice') {
        return {
            icon: mdiReceipt,
            type: 'warning',
        }
    }

    return {
        icon: mdiCreditCardOutline,
        type: 'info',
    }
})
</script>

<template>
    <CardBox class="mb-6 last:mb-0" is-hoverable>
        <BaseLevel>
            <BaseLevel type="justify-start">
                <IconRounded :color="icon.type" :icon="icon.icon" class="md:mr-6"/>
                <div class="text-center space-y-1 md:text-left md:mr-6">
                    <h4 class="text-xl">${{ amount }}</h4>
                    <p class="text-gray-500 dark:text-slate-400">
                        <b>{{ date }}</b> via {{ business }}
                    </p>
                </div>
            </BaseLevel>
            <div class="text-center md:text-right space-y-2">
                <p class="text-sm text-gray-500">
                    {{ name }}
                </p>
                <div>
                    <PillTag :color="icon.type" :label="type" small/>
                </div>
            </div>
        </BaseLevel>
    </CardBox>
</template>
