<!--
  - /**
  -  * ROO :: Religionsunterricht leichtgemacht
  -  *
  -  * @package Roo
  -  * @author Christoph Fischer <chris@toph.de>
  -  * @copyright (c) Christoph Fischer, https://christoph-fischer.de
  -  * @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
  -  * @link https://codeberg.org/peregrinus/roo
  -  * @version git: $Id$
  -  *
  -  * Roo is based on the Laravel framework (https://laravel.com).
  -  * This file may contain code created by Laravel's scaffolding functions.
  -  *
  -  * This program is free software: you can redistribute it and/or modify
  -  * it under the terms of the GNU General Public License as published by
  -  * the Free Software Foundation, either version 3 of the License, or
  -  * (at your option) any later version.
  -  *
  -  * This program is distributed in the hope that it will be useful,
  -  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  -  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -  * GNU General Public License for more details.
  -  *
  -  * You should have received a copy of the GNU General Public License
  -  * along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -  */
  -
  -->

<script setup>
import { computed } from 'vue'
import { mdiClose } from '@mdi/js'
import BaseButton from '@/Components/BaseButton.vue'
import BaseButtons from '@/Components/BaseButtons.vue'
import CardBox from '@/Components/CardBox.vue'
import OverlayLayer from '@/Components/OverlayLayer.vue'
import CardBoxComponentTitle from '@/Components/CardBoxComponentTitle.vue'

const props = defineProps({
    title: {
        type: String,
        required: true,
    },
    button: {
        type: String,
        default: 'info',
    },
    buttonLabel: {
        type: String,
        default: 'Done',
    },
    hasCancel: Boolean,
    modelValue: {
        type: [String, Number, Boolean],
        default: null,
    },
})

const emit = defineEmits(['update:modelValue', 'cancel', 'confirm'])

const value = computed({
    get: () => props.modelValue,
    set: (value) => emit('update:modelValue', value),
})

const confirmCancel = (mode) => {
    value.value = false
    emit(mode)
}

const confirm = () => confirmCancel('confirm')

const cancel = () => confirmCancel('cancel')

window.addEventListener('keydown', (e) => {
    if (e.key === 'Escape' && value.value) {
        cancel()
    }
})
</script>

<template>
    <OverlayLayer v-show="value" @overlay-click="cancel">
        <CardBox
            v-show="value"
            class="shadow-lg max-h-modal w-11/12 md:w-3/5 lg:w-2/5 xl:w-4/12 z-50"
            is-modal
        >
            <CardBoxComponentTitle :title="title">
                <BaseButton
                    v-if="hasCancel"
                    :icon="mdiClose"
                    color="whiteDark"
                    rounded-full
                    small
                    @click.prevent="cancel"
                />
            </CardBoxComponentTitle>

            <div class="space-y-3">
                <slot/>
            </div>

            <template #footer>
                <BaseButtons>
                    <BaseButton :color="button" :label="buttonLabel" @click="confirm"/>
                    <BaseButton
                        v-if="hasCancel"
                        :color="button"
                        label="Cancel"
                        outline
                        @click="cancel"
                    />
                </BaseButtons>
            </template>
        </CardBox>
    </OverlayLayer>
</template>
