<!--
  - /**
  -  * ROO :: Religionsunterricht leichtgemacht
  -  *
  -  * @package Roo
  -  * @author Christoph Fischer <chris@toph.de>
  -  * @copyright (c) Christoph Fischer, https://christoph-fischer.de
  -  * @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
  -  * @link https://codeberg.org/peregrinus/roo
  -  * @version git: $Id$
  -  *
  -  * Roo is based on the Laravel framework (https://laravel.com).
  -  * This file may contain code created by Laravel's scaffolding functions.
  -  *
  -  * This program is free software: you can redistribute it and/or modify
  -  * it under the terms of the GNU General Public License as published by
  -  * the Free Software Foundation, either version 3 of the License, or
  -  * (at your option) any later version.
  -  *
  -  * This program is distributed in the hope that it will be useful,
  -  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  -  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -  * GNU General Public License for more details.
  -  *
  -  * You should have received a copy of the GNU General Public License
  -  * along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -  */
  -
  -->

<script setup>
import { computed } from 'vue'
import { mdiTrendingDown, mdiTrendingNeutral, mdiTrendingUp } from '@mdi/js'
import CardBox from '@/Components/CardBox.vue'
import BaseLevel from '@/Components/BaseLevel.vue'
import PillTag from '@/Components/PillTag.vue'
import UserAvatar from '@/Components/UserAvatar.vue'

const props = defineProps({
    name: {
        type: String,
        required: true,
    },
    login: {
        type: String,
        required: true,
    },
    date: {
        type: String,
        required: true,
    },
    progress: {
        type: Number,
        default: 0,
    },
    text: {
        type: String,
        default: null,
    },
    type: {
        type: String,
        default: null,
    },
})

const pillType = computed(() => {
    if (props.type) {
        return props.type
    }

    if (props.progress) {
        if (props.progress >= 60) {
            return 'success'
        }
        if (props.progress >= 40) {
            return 'warning'
        }

        return 'danger'
    }

    return 'info'
})

const pillIcon = computed(() => {
    return {
        success: mdiTrendingUp,
        warning: mdiTrendingNeutral,
        danger: mdiTrendingDown,
        info: null,
    }[pillType.value]
})

const pillText = computed(() => props.text ?? `${props.progress}%`)
</script>

<template>
    <CardBox class="mb-6 last:mb-0" is-hoverable>
        <BaseLevel>
            <BaseLevel type="justify-start">
                <UserAvatar :username="name" class="w-12 h-12 mr-6"/>
                <div class="text-center md:text-left overflow-hidden">
                    <h4 class="text-xl text-ellipsis">
                        {{ name }}
                    </h4>
                    <p class="text-gray-500 dark:text-slate-400">
                        {{ date }} @ {{ login }}
                    </p>
                </div>
            </BaseLevel>
            <PillTag :color="pillType" :icon="pillIcon" :label="pillText"/>
        </BaseLevel>
    </CardBox>
</template>
