<!--
  - /**
  -  * ROO :: Religionsunterricht leichtgemacht
  -  *
  -  * @package Roo
  -  * @author Christoph Fischer <chris@toph.de>
  -  * @copyright (c) Christoph Fischer, https://christoph-fischer.de
  -  * @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
  -  * @link https://codeberg.org/peregrinus/roo
  -  * @version git: $Id$
  -  *
  -  * Roo is based on the Laravel framework (https://laravel.com).
  -  * This file may contain code created by Laravel's scaffolding functions.
  -  *
  -  * This program is free software: you can redistribute it and/or modify
  -  * it under the terms of the GNU General Public License as published by
  -  * the Free Software Foundation, either version 3 of the License, or
  -  * (at your option) any later version.
  -  *
  -  * This program is distributed in the hope that it will be useful,
  -  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  -  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -  * GNU General Public License for more details.
  -  *
  -  * You should have received a copy of the GNU General Public License
  -  * along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -  */
  -
  -->

<script setup>
import { computed, useSlots } from 'vue'
import CardBoxComponentBody from '@/Components/CardBoxComponentBody.vue'
import CardBoxComponentFooter from '@/Components/CardBoxComponentFooter.vue'

const props = defineProps({
    rounded: {
        type: String,
        default: 'rounded-2xl',
    },
    flex: {
        type: String,
        default: 'flex-col',
    },
    hasComponentLayout: Boolean,
    hasTable: Boolean,
    isForm: Boolean,
    isHoverable: Boolean,
    isModal: Boolean,
})

const emit = defineEmits(['submit'])

const slots = useSlots()

const hasFooterSlot = computed(() => slots.footer && !!slots.footer())

const componentClass = computed(() => {
    const base = [
        props.rounded,
        props.flex,
        props.isModal ? 'dark:bg-slate-900' : 'dark:bg-slate-900/70',
    ]

    if (props.isHoverable) {
        base.push('hover:shadow-lg transition-shadow duration-500')
    }

    return base
})

const submit = (event) => {
    emit('submit', event)
}
</script>

<template>
    <component
        :is="isForm ? 'form' : 'div'"
        :class="componentClass"
        class="bg-white flex"
        @submit="submit"
    >
        <slot v-if="hasComponentLayout"/>
        <template v-else>
            <CardBoxComponentBody :no-padding="hasTable">
                <slot/>
            </CardBoxComponentBody>
            <CardBoxComponentFooter v-if="hasFooterSlot">
                <slot name="footer"/>
            </CardBoxComponentFooter>
        </template>
    </component>
</template>
