<!--
  - /**
  -  * ROO :: Religionsunterricht leichtgemacht
  -  *
  -  * @package Roo
  -  * @author Christoph Fischer <chris@toph.de>
  -  * @copyright (c) Christoph Fischer, https://christoph-fischer.de
  -  * @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
  -  * @link https://codeberg.org/peregrinus/roo
  -  * @version git: $Id$
  -  *
  -  * Roo is based on the Laravel framework (https://laravel.com).
  -  * This file may contain code created by Laravel's scaffolding functions.
  -  *
  -  * This program is free software: you can redistribute it and/or modify
  -  * it under the terms of the GNU General Public License as published by
  -  * the Free Software Foundation, either version 3 of the License, or
  -  * (at your option) any later version.
  -  *
  -  * This program is distributed in the hope that it will be useful,
  -  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  -  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -  * GNU General Public License for more details.
  -  *
  -  * You should have received a copy of the GNU General Public License
  -  * along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -  */
  -
  -->

<script setup>
import { computed, onBeforeUnmount, onMounted, ref } from 'vue'
import { useMainStore } from '@/Stores/main'
import FormControlIcon from '@/Components/FormControlIcon.vue'

const props = defineProps({
    name: {
        type: String,
        default: null,
    },
    id: {
        type: String,
        default: null,
    },
    autocomplete: {
        type: String,
        default: null,
    },
    maxlength: {
        type: String,
        default: null,
    },
    placeholder: {
        type: String,
        default: null,
    },
    inputmode: {
        type: String,
        default: null,
    },
    icon: {
        type: String,
        default: null,
    },
    options: {
        type: Array,
        default: null,
    },
    type: {
        type: String,
        default: 'text',
    },
    modelValue: {
        type: [String, Number, Boolean, Array, Object],
        default: '',
    },
    required: Boolean,
    borderless: Boolean,
    transparent: Boolean,
    ctrlKFocus: Boolean,
    autofocus: {
        type: Boolean,
        default: false,
    },

})

const emit = defineEmits(['update:modelValue', 'setRef'])

const computedValue = computed({
    get: () => props.modelValue,
    set: (value) => {
        emit('update:modelValue', value)
    },
})

const inputElClass = computed(() => {
    const base = [
        'px-3 py-2 max-w-full focus:ring focus:outline-none border-gray-700 rounded w-full',
        'dark:placeholder-gray-400',
        computedType.value === 'textarea' ? 'h-24' : 'h-12',
        props.borderless ? 'border-0' : 'border',
        props.transparent ? 'bg-transparent' : 'bg-white dark:bg-slate-800',
    ]

    if (props.icon) {
        base.push('pl-10')
    }

    return base
})

const computedType = computed(() => (props.options ? 'select' : props.type))

const controlIconH = computed(() =>
    props.type === 'textarea' ? 'h-full' : 'h-12',
)

const mainStore = useMainStore()

const selectEl = ref(null)

const textareaEl = ref(null)

const inputEl = ref(null)

onMounted(() => {
    if (selectEl.value) {
        emit('setRef', selectEl.value)
    } else if (textareaEl.value) {
        emit('setRef', textareaEl.value)
    } else {
        emit('setRef', inputEl.value)
    }
})

if (props.ctrlKFocus) {
    const fieldFocusHook = (e) => {
        if (e.ctrlKey && e.key === 'k') {
            e.preventDefault()
            inputEl.value.focus()
        } else if (e.key === 'Escape') {
            inputEl.value.blur()
        }
    }

    onMounted(() => {
        if (!mainStore.isFieldFocusRegistered) {
            window.addEventListener('keydown', fieldFocusHook)
            mainStore.isFieldFocusRegistered = true
        } else {
            // console.error('Duplicate field focus event')
        }
    })

    onBeforeUnmount(() => {
        window.removeEventListener('keydown', fieldFocusHook)
        mainStore.isFieldFocusRegistered = false
    })
}
</script>

<template>
    <div class="relative">
        <select
            v-if="computedType === 'select'"
            :id="id"
            v-model="computedValue"
            :class="inputElClass"
            :name="name"
        >
            <option
                v-for="option in options"
                :key="option.id ?? option"
                :value="option"
            >
                {{ option.label ?? option }}
            </option>
        </select>
        <textarea
            v-else-if="computedType === 'textarea'"
            :id="id"
            v-model="computedValue"
            :class="inputElClass"
            :maxlength="maxlength"
            :name="name"
            :placeholder="placeholder"
            :required="required"
        />
        <input
            v-else
            :id="id"
            ref="inputEl"
            v-model="computedValue"
            :autocomplete="autocomplete"
            :autofocus="autofocus"
            :class="inputElClass"
            :inputmode="inputmode"
            :maxlength="maxlength"
            :name="name"
            :placeholder="placeholder"
            :required="required"
            :type="computedType"
        />
        <FormControlIcon v-if="icon" :h="controlIconH" :icon="icon"/>
    </div>
</template>
