<!--
  - /**
  -  * ROO :: Religionsunterricht leichtgemacht
  -  *
  -  * @package Roo
  -  * @author Christoph Fischer <chris@toph.de>
  -  * @copyright (c) Christoph Fischer, https://christoph-fischer.de
  -  * @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
  -  * @link https://codeberg.org/peregrinus/roo
  -  * @version git: $Id$
  -  *
  -  * Roo is based on the Laravel framework (https://laravel.com).
  -  * This file may contain code created by Laravel's scaffolding functions.
  -  *
  -  * This program is free software: you can redistribute it and/or modify
  -  * it under the terms of the GNU General Public License as published by
  -  * the Free Software Foundation, either version 3 of the License, or
  -  * (at your option) any later version.
  -  *
  -  * This program is distributed in the hope that it will be useful,
  -  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  -  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -  * GNU General Public License for more details.
  -  *
  -  * You should have received a copy of the GNU General Public License
  -  * along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -  */
  -
  -->

<script setup>
import { mdiUpload } from '@mdi/js'
import { computed, ref, watch } from 'vue'
import BaseButton from '@/Components/BaseButton.vue'

const props = defineProps({
    modelValue: {
        type: [Object, File, Array],
        default: null,
    },
    label: {
        type: String,
        default: null,
    },
    icon: {
        type: String,
        default: mdiUpload,
    },
    accept: {
        type: String,
        default: null,
    },
    color: {
        type: String,
        default: 'info',
    },
    isRoundIcon: Boolean,
})

const emit = defineEmits(['update:modelValue'])

const root = ref(null)

const file = ref(props.modelValue)

const showFilename = computed(() => !props.isRoundIcon && file.value)

const modelValueProp = computed(() => props.modelValue)

watch(modelValueProp, (value) => {
    file.value = value

    if (!value) {
        root.value.input.value = null
    }
})

const upload = (event) => {
    const value = event.target.files || event.dataTransfer.files

    file.value = value[0]

    emit('update:modelValue', file.value)

    // Use this as an example for handling file uploads
    // let formData = new FormData()
    // formData.append('file', file.value)

    // const mediaStoreRoute = `/your-route/`

    // axios
    //   .post(mediaStoreRoute, formData, {
    //     headers: {
    //       'Content-Type': 'multipart/form-data'
    //     },
    //     onUploadProgress: progressEvent
    //   })
    //   .then(r => {
    //
    //   })
    //   .catch(err => {
    //
    //   })
}

// const uploadPercent = ref(0)
//
// const progressEvent = progressEvent => {
//   uploadPercent.value = Math.round(
//     (progressEvent.loaded * 100) / progressEvent.total
//   )
// }
</script>

<template>
    <div class="flex items-stretch justify-start relative">
        <label class="inline-flex">
            <BaseButton
                :class="{ 'w-12 h-12': isRoundIcon, 'rounded-r-none': showFilename }"
                :color="color"
                :icon="icon"
                :icon-size="isRoundIcon ? 24 : undefined"
                :label="isRoundIcon ? null : label"
                :rounded-full="isRoundIcon"
                as="a"
            />
            <input
                ref="root"
                :accept="accept"
                class="absolute top-0 left-0 w-full h-full opacity-0 outline-none cursor-pointer -z-1"
                type="file"
                @input="upload"
            />
        </label>
        <div
            v-if="showFilename"
            class="px-4 py-2 bg-gray-100 dark:bg-slate-800 border-gray-200 dark:border-slate-700 border rounded-r"
        >
      <span class="text-ellipsis line-clamp-1">
        {{ file.name }}
      </span>
        </div>
    </div>
</template>
