<!--
  - ROO :: Religionsunterricht leichtgemacht
  -
  - @package Roo
  - @author Christoph Fischer <chris@toph.de>
  - @copyright (c) Christoph Fischer, https://christoph-fischer.de
  - @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
  - @link https://codeberg.org/peregrinus/roo
  - @version git: $Id$
  -
  - Roo is based on the Laravel framework (https://laravel.com).
  - This file may contain code created by Laravel's scaffolding functions.
  -
  - This program is free software: you can redistribute it and/or modify
  - it under the terms of the GNU General Public License as published by
  - the Free Software Foundation, either version 3 of the License, or
  - (at your option) any later version.
  -
  - This program is distributed in the hope that it will be useful,
  - but WITHOUT ANY WARRANTY; without even the implied warranty of
  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  - GNU General Public License for more details.
  -
  - You should have received a copy of the GNU General Public License
  - along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<script setup>
import AppLayout from '@/Layouts/AppLayout.vue'
import { router, useForm } from '@inertiajs/vue3'

const props = defineProps({
    model: Object,
    modelKey: String,
    createTitle: String,
    editTitle: String,
})

const form = useForm(props.model)
const isEdit = (undefined !== props.model.id)
const title = isEdit ? props.editTitle : props.createTitle

const submit = () => {
    if (isEdit) {
        form.patch(route(props.modelKey + '.update', { modelId: props.model.id }))
    } else {
        delete (form.id)
        form.post(route(props.modelKey + '.store'))
    }
}

const deleteModel = () => {
    if (!confirm('Willst du dieses Element wirlich löschen?')) return
    router.delete(route(props.modelKey + '.destroy', { modelId: props.model.id }))
}


</script>

<template>
    <AppLayout :title="title">
        <template v-slot:header-toolbar>
            <div class="btn-toolbar mb-2 mb-md-0">
                <button class="btn btn-sm btn-primary d-flex align-items-center gap-1 me-1" type="button"
                        @click="submit">
                    Speichern
                </button>
                <button class="btn btn-sm btn-outline-secondary d-flex align-items-center gap-1" type="button"
                        @click="$inertia.get(route(modelKey+'s.index'))">
                    Abbrechen
                </button>
                <button v-if="isEdit" class="btn btn-sm btn-outline-danger d-fex align-items-center gap-1 ms-2"
                        type="button"
                        @click="deleteModel">
                    Löschen
                </button>
            </div>
        </template>
        <form class="card" @submit.prevent="submit">
            <div class="card-body">
                <slot :form="form"/>
            </div>
        </form>
    </AppLayout>

</template>


<style scoped>

</style>
