<!--
  - ROO :: Religionsunterricht leichtgemacht
  -
  - @package Roo
  - @author Christoph Fischer <chris@toph.de>
  - @copyright (c) Christoph Fischer, https://christoph-fischer.de
  - @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
  - @link https://codeberg.org/peregrinus/roo
  - @version git: $Id$
  -
  - Roo is based on the Laravel framework (https://laravel.com).
  - This file may contain code created by Laravel's scaffolding functions.
  -
  - This program is free software: you can redistribute it and/or modify
  - it under the terms of the GNU General Public License as published by
  - the Free Software Foundation, either version 3 of the License, or
  - (at your option) any later version.
  -
  - This program is distributed in the hope that it will be useful,
  - but WITHOUT ANY WARRANTY; without even the implied warranty of
  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  - GNU General Public License for more details.
  -
  - You should have received a copy of the GNU General Public License
  - along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<script setup>
import AppLayout from '@/Layouts/AppLayout.vue'
import { DatasetInfo, DatasetItem, DatasetPager, DatasetShow } from 'vue-dataset'
import { Dataset } from '@/Components/Dataset/Dataset.vue'
import DatasetSearch from '@/Components/Dataset/DatasetSearch.vue'
import { mdiPencil, mdiTrashCan } from '@mdi/js'
import BaseIcon from '@/Components/BaseIcon.vue'
import { router } from '@inertiajs/vue3'

const props = defineProps({
    models: Array,
    modelKey: String,
    title: String,
    createTitle: String,
    singleTitle: String,
    sortBy: Array,
    sortAs: Object,
    searchIn: Array,
    searchAs: Object,
})

const deleteModel = (modelId) => {
    if (!confirm('Willst du dieses Element wirlich löschen?')) return
    router.delete(route(props.modelKey + '.destroy', { modelId: modelId }))
}

</script>


<template>
    <AppLayout :title="title">
        <template v-slot:header-toolbar>
            <button :title="createTitle+' anlegen'" class="btn btn-sm btn-outline-success" role="button"
                    @click="$inertia.get(route(modelKey+'.create'))">
                {{ createTitle }}
            </button>
        </template>

        <dataset
            v-slot="{ ds }"
            :ds-data="models"
            :ds-search-as="searchAs || {}"
            :ds-search-in="searchIn || []"
            :ds-sort-as="sortAs || {}"
            :ds-sortby="sortBy || []"
        >

            <dataset-search autofocus class="mb-2" ds-search-placeholder="Suchen..."/>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover d-md-table">
                            <thead>
                            <tr>
                                <slot name="table-header"/>
                                <th></th>
                            </tr>
                            </thead>
                            <dataset-item tag="tbody">
                                <template #default="{ row, rowIndex }">
                                    <tr>
                                        <slot :model="row" name="table-row"/>
                                        <td class="text-right">
                                            <button class="btn btn-sm btn-outline-primary me-1"
                                                    @click="$inertia.get(route(modelKey+'.edit', { modelId: row.id }))">
                                                <BaseIcon :path="mdiPencil"/>
                                            </button>
                                            <button class="btn btn-sm btn-outline-danger" @click="deleteModel(row.id)">
                                                <BaseIcon :path="mdiTrashCan"/>
                                            </button>
                                        </td>
                                    </tr>
                                </template>
                            </dataset-item>
                        </table>
                    </div>
                </div>
            </div>
            <hr class="my-3"/>
            <div class="row">
                <div class="col-md-4 mt-2 ds-info">
                    <dataset-info class="ds-info-component"/>
                    {{ title }}
                </div>
                <div class="col-md-4 ds-show">
                    <dataset-show/>
                    {{ title }}
                </div>
                <div class="col-md-4 text-right ds-pager">
                    <dataset-pager/>
                </div>
            </div>
            <div class="d-flex flex-md-row flex-column justify-content-between align-items-center">
            </div>

        </dataset>

    </AppLayout>
</template>


<style scoped>
.ds-info-component {
    display: inline-block;
}

.ds-show :deep(label) {
    display: none;
}

.ds-show :deep(div.form-inline) {
    display: inline-block;
    width: 50%;
    margin-right: .25em;
}

.ds-pager :deep(ul) {
    float: right;
}
</style>
