<!--
  - /**
  -  * ROO :: Religionsunterricht leichtgemacht
  -  *
  -  * @package Roo
  -  * @author Christoph Fischer <chris@toph.de>
  -  * @copyright (c) Christoph Fischer, https://christoph-fischer.de
  -  * @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
  -  * @link https://codeberg.org/peregrinus/roo
  -  * @version git: $Id$
  -  *
  -  * Roo is based on the Laravel framework (https://laravel.com).
  -  * This file may contain code created by Laravel's scaffolding functions.
  -  *
  -  * This program is free software: you can redistribute it and/or modify
  -  * it under the terms of the GNU General Public License as published by
  -  * the Free Software Foundation, either version 3 of the License, or
  -  * (at your option) any later version.
  -  *
  -  * This program is distributed in the hope that it will be useful,
  -  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  -  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -  * GNU General Public License for more details.
  -  *
  -  * You should have received a copy of the GNU General Public License
  -  * along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -  */
  -
  -->

<script setup>
import { ref } from 'vue'
import { mdiClose, mdiDotsVertical } from '@mdi/js'
import { containerMaxW } from '@/config.js'
import BaseIcon from '@/Components/BaseIcon.vue'
import NavBarMenuList from '@/Components/NavBarMenuList.vue'
import NavBarItemPlain from '@/Components/NavBarItemPlain.vue'

defineProps({
    menu: {
        type: Array,
        required: true,
    },
})

const emit = defineEmits(['menu-click'])

const menuClick = (event, item) => {
    emit('menu-click', event, item)
}

const isMenuNavBarActive = ref(false)
</script>

<template>
    <nav
        class="top-0 inset-x-0 fixed bg-gray-50 h-14 z-30 transition-position w-screen lg:w-auto dark:bg-slate-800"
    >
        <div :class="containerMaxW" class="flex lg:items-stretch">
            <div class="flex flex-1 items-stretch h-14">
                <slot/>
            </div>
            <div class="flex-none items-stretch flex h-14 lg:hidden">
                <NavBarItemPlain
                    @click.prevent="isMenuNavBarActive = !isMenuNavBarActive"
                >
                    <BaseIcon
                        :path="isMenuNavBarActive ? mdiClose : mdiDotsVertical"
                        size="24"
                    />
                </NavBarItemPlain>
            </div>
            <div
                :class="[isMenuNavBarActive ? 'block' : 'hidden']"
                class="max-h-screen-menu overflow-y-auto lg:overflow-visible absolute w-screen top-14 left-0 bg-gray-50 shadow-lg lg:w-auto lg:flex lg:static lg:shadow-none dark:bg-slate-800"
            >
                <NavBarMenuList :menu="menu" @menu-click="menuClick"/>
            </div>
        </div>
    </nav>
</template>
