<!--
  - /**
  -  * ROO :: Religionsunterricht leichtgemacht
  -  *
  -  * @package Roo
  -  * @author Christoph Fischer <chris@toph.de>
  -  * @copyright (c) Christoph Fischer, https://christoph-fischer.de
  -  * @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
  -  * @link https://codeberg.org/peregrinus/roo
  -  * @version git: $Id$
  -  *
  -  * Roo is based on the Laravel framework (https://laravel.com).
  -  * This file may contain code created by Laravel's scaffolding functions.
  -  *
  -  * This program is free software: you can redistribute it and/or modify
  -  * it under the terms of the GNU General Public License as published by
  -  * the Free Software Foundation, either version 3 of the License, or
  -  * (at your option) any later version.
  -  *
  -  * This program is distributed in the hope that it will be useful,
  -  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  -  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -  * GNU General Public License for more details.
  -  *
  -  * You should have received a copy of the GNU General Public License
  -  * along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -  */
  -
  -->

<script setup>
import { mdiChevronDown, mdiChevronUp } from '@mdi/js'
import { Link, usePage } from '@inertiajs/vue3'
import { computed, onBeforeUnmount, onMounted, ref } from 'vue'
import { useStyleStore } from '@/Stores/style.js'
import BaseIcon from '@/Components/BaseIcon.vue'
import UserAvatarCurrentUser from '@/Components/UserAvatarCurrentUser.vue'
import NavBarMenuList from '@/Components/NavBarMenuList.vue'
import BaseDivider from '@/Components/BaseDivider.vue'

const props = defineProps({
    item: {
        type: Object,
        required: true,
    },
})

const emit = defineEmits(['menu-click'])

// Add itemHref
const itemHref = computed(() =>
    props.item.route ? route(props.item.route) : props.item.href,
)

const is = computed(() => {
    if (props.item.href) {
        return 'a'
    }

    if (props.item.route) {
        return Link
    }

    return 'div'
})

const styleStore = useStyleStore()

const componentClass = computed(() => {
    const base = [
        isDropdownActive.value
            ? `${styleStore.navBarItemLabelActiveColorStyle} dark:text-slate-400`
            : `${styleStore.navBarItemLabelStyle} dark:text-white dark:hover:text-slate-400 ${styleStore.navBarItemLabelHoverStyle}`,
        props.item.menu ? 'lg:py-2 lg:px-3' : 'py-2 px-3',
    ]

    if (props.item.isDesktopNoLabel) {
        base.push('lg:w-16', 'lg:justify-center')
    }

    return base
})

const itemLabel = computed(() =>
    props.item.isCurrentUser ? usePage().props.auth.user.name : props.item.label,
)

const isDropdownActive = ref(false)

const menuClick = (event) => {
    emit('menu-click', event, props.item)

    if (props.item.menu) {
        isDropdownActive.value = !isDropdownActive.value
    }
}

const menuClickDropdown = (event, item) => {
    emit('menu-click', event, item)
}

const root = ref(null)

const forceClose = (event) => {
    if (root.value && !root.value.contains(event.target)) {
        isDropdownActive.value = false
    }
}

onMounted(() => {
    if (props.item.menu) {
        window.addEventListener('click', forceClose)
    }
})

onBeforeUnmount(() => {
    if (props.item.menu) {
        window.removeEventListener('click', forceClose)
    }
})
</script>

<template>
    <BaseDivider v-if="item.isDivider" nav-bar/>
    <component
        :is="is"
        v-else
        ref="root"
        :class="componentClass"
        :href="itemHref"
        :target="item.target ?? null"
        class="block lg:flex items-center relative cursor-pointer"
        @click="menuClick"
    >
        <div
            :class="{
        'bg-gray-100 dark:bg-slate-800 lg:bg-transparent lg:dark:bg-transparent p-3 lg:p-0':
          item.menu,
      }"
            class="flex items-center"
        >
            <UserAvatarCurrentUser
                v-if="item.isCurrentUser"
                class="w-6 h-6 mr-3 inline-flex"
            />
            <BaseIcon v-if="item.icon" :path="item.icon" class="transition-colors"/>
            <span
                :class="{ 'lg:hidden': item.isDesktopNoLabel && item.icon }"
                class="px-2 transition-colors"
            >{{ itemLabel }}</span
            >
            <BaseIcon
                v-if="item.menu"
                :path="isDropdownActive ? mdiChevronUp : mdiChevronDown"
                class="hidden lg:inline-flex transition-colors"
            />
        </div>
        <div
            v-if="item.menu"
            :class="{ 'lg:hidden': !isDropdownActive }"
            class="text-sm border-b border-gray-100 lg:border lg:bg-white lg:absolute lg:top-full lg:left-0 lg:min-w-full lg:z-20 lg:rounded-lg lg:shadow-lg lg:dark:bg-slate-800 dark:border-slate-700"
        >
            <NavBarMenuList :menu="item.menu" @menu-click="menuClickDropdown"/>
        </div>
    </component>
</template>
