<!--
  - /**
  -  * ROO :: Religionsunterricht leichtgemacht
  -  *
  -  * @package Roo
  -  * @author Christoph Fischer <chris@toph.de>
  -  * @copyright (c) Christoph Fischer, https://christoph-fischer.de
  -  * @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
  -  * @link https://codeberg.org/peregrinus/roo
  -  * @version git: $Id$
  -  *
  -  * Roo is based on the Laravel framework (https://laravel.com).
  -  * This file may contain code created by Laravel's scaffolding functions.
  -  *
  -  * This program is free software: you can redistribute it and/or modify
  -  * it under the terms of the GNU General Public License as published by
  -  * the Free Software Foundation, either version 3 of the License, or
  -  * (at your option) any later version.
  -  *
  -  * This program is distributed in the hope that it will be useful,
  -  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  -  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -  * GNU General Public License for more details.
  -  *
  -  * You should have received a copy of the GNU General Public License
  -  * along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -  */
  -
  -->

<script setup>
import { computed, ref, useSlots } from 'vue'
import { mdiClose } from '@mdi/js'
import { colorsBgLight, colorsOutline } from '@/colors.js'
import BaseLevel from '@/Components/BaseLevel.vue'
import BaseIcon from '@/Components/BaseIcon.vue'
import BaseButton from '@/Components/BaseButton.vue'

const props = defineProps({
    icon: {
        type: String,
        default: null,
    },
    outline: Boolean,
    color: {
        type: String,
        required: true,
    },
})

const componentClass = computed(() =>
    props.outline ? colorsOutline[props.color] : colorsBgLight[props.color],
)

const isDismissed = ref(false)

const dismiss = () => {
    isDismissed.value = true
}

const slots = useSlots()

const hasRightSlot = computed(() => slots.right)
</script>

<template>
    <div
        v-if="!isDismissed"
        :class="componentClass"
        class="px-3 py-6 md:py-3 mb-6 last:mb-0 border rounded-lg transition-colors duration-150"
    >
        <BaseLevel>
            <div class="flex flex-col md:flex-row items-center">
                <BaseIcon
                    v-if="icon"
                    :path="icon"
                    class="md:mr-2"
                    h="h-10 md:h-5"
                    size="24"
                    w="w-10 md:w-5"
                />
                <span class="text-center md:text-left md:py-2"><slot/></span>
            </div>
            <slot v-if="hasRightSlot" name="right"/>
            <BaseButton
                v-else
                :icon="mdiClose"
                color="white"
                rounded-full
                small
                @click="dismiss"
            />
        </BaseLevel>
    </div>
</template>
