<!--
  - /**
  -  * ROO :: Religionsunterricht leichtgemacht
  -  *
  -  * @package Roo
  -  * @author Christoph Fischer <chris@toph.de>
  -  * @copyright (c) Christoph Fischer, https://christoph-fischer.de
  -  * @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
  -  * @link https://codeberg.org/peregrinus/roo
  -  * @version git: $Id$
  -  *
  -  * Roo is based on the Laravel framework (https://laravel.com).
  -  * This file may contain code created by Laravel's scaffolding functions.
  -  *
  -  * This program is free software: you can redistribute it and/or modify
  -  * it under the terms of the GNU General Public License as published by
  -  * the Free Software Foundation, either version 3 of the License, or
  -  * (at your option) any later version.
  -  *
  -  * This program is distributed in the hope that it will be useful,
  -  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  -  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -  * GNU General Public License for more details.
  -  *
  -  * You should have received a copy of the GNU General Public License
  -  * along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -  */
  -
  -->

<script setup>
import { computed, onMounted, ref, watch } from 'vue'
import numeral from 'numeral'

const props = defineProps({
    prefix: {
        type: String,
        default: null,
    },
    suffix: {
        type: String,
        default: null,
    },
    value: {
        type: Number,
        default: 0,
    },
    duration: {
        type: Number,
        default: 500,
    },
})

const newValue = ref(0)

const newValueFormatted = computed(() =>
    newValue.value < 1000 ? newValue.value : numeral(newValue.value).format('0,0'),
)

const value = computed(() => props.value)

const grow = (m) => {
    const v = Math.ceil(newValue.value + m)

    if (v > value.value) {
        newValue.value = value.value
        return false
    }

    newValue.value = v

    setTimeout(() => {
        grow(m)
    }, 25)
}

const growInit = () => {
    newValue.value = 0
    grow(props.value / (props.duration / 25))
}

watch(value, () => {
    growInit()
})

onMounted(() => {
    growInit()
})
</script>

<template>
    <div>{{ prefix }}{{ newValueFormatted }}{{ suffix }}</div>
</template>
