<!--
  - /**
  -  * ROO :: Religionsunterricht leichtgemacht
  -  *
  -  * @package Roo
  -  * @author Christoph Fischer <chris@toph.de>
  -  * @copyright (c) Christoph Fischer, https://christoph-fischer.de
  -  * @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
  -  * @link https://codeberg.org/peregrinus/roo
  -  * @version git: $Id$
  -  *
  -  * Roo is based on the Laravel framework (https://laravel.com).
  -  * This file may contain code created by Laravel's scaffolding functions.
  -  *
  -  * This program is free software: you can redistribute it and/or modify
  -  * it under the terms of the GNU General Public License as published by
  -  * the Free Software Foundation, either version 3 of the License, or
  -  * (at your option) any later version.
  -  *
  -  * This program is distributed in the hope that it will be useful,
  -  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  -  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -  * GNU General Public License for more details.
  -  *
  -  * You should have received a copy of the GNU General Public License
  -  * along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -  */
  -
  -->

<script setup>
import { computed } from 'vue'
import { useStyleStore } from '@/Stores/style'
import { gradientBgDark, gradientBgPinkRed, gradientBgPurplePink } from '@/colors'

const props = defineProps({
    bg: {
        type: String,
        required: true,
        validator: (value) => ['purplePink', 'pinkRed'].includes(value),
    },
})

const colorClass = computed(() => {
    if (useStyleStore().darkMode) {
        return gradientBgDark
    }

    switch (props.bg) {
        case 'purplePink':
            return gradientBgPurplePink
        case 'pinkRed':
            return gradientBgPinkRed
    }

    return ''
})
</script>

<template>
    <div
        :class="colorClass"
        class="flex min-h-screen items-center justify-center"
    >
        <slot card-class="w-11/12 md:w-7/12 lg:w-6/12 xl:w-4/12 shadow-2xl"/>
    </div>
</template>
