<!--
  - /**
  -  * ROO :: Religionsunterricht leichtgemacht
  -  *
  -  * @package Roo
  -  * @author Christoph Fischer <chris@toph.de>
  -  * @copyright (c) Christoph Fischer, https://christoph-fischer.de
  -  * @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
  -  * @link https://codeberg.org/peregrinus/roo
  -  * @version git: $Id$
  -  *
  -  * Roo is based on the Laravel framework (https://laravel.com).
  -  * This file may contain code created by Laravel's scaffolding functions.
  -  *
  -  * This program is free software: you can redistribute it and/or modify
  -  * it under the terms of the GNU General Public License as published by
  -  * the Free Software Foundation, either version 3 of the License, or
  -  * (at your option) any later version.
  -  *
  -  * This program is distributed in the hope that it will be useful,
  -  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  -  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -  * GNU General Public License for more details.
  -  *
  -  * You should have received a copy of the GNU General Public License
  -  * along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -  */
  -
  -->

<script setup>
import { computed, ref } from 'vue'
import { useMainStore } from '@/Stores/main'
import { mdiCheckDecagram } from '@mdi/js'
import BaseLevel from '@/Components/BaseLevel.vue'
import UserAvatarCurrentUser from '@/Components/UserAvatarCurrentUser.vue'
import CardBox from '@/Components/CardBox.vue'
import FormCheckRadio from '@/Components/FormCheckRadio.vue'
import PillTag from '@/Components/PillTag.vue'

const mainStore = useMainStore()

const userName = computed(() => mainStore.userName)

const userSwitchVal = ref(false)
</script>

<template>
    <CardBox>
        <BaseLevel type="justify-around lg:justify-center">
            <UserAvatarCurrentUser class="lg:mx-12"/>
            <div class="space-y-3 text-center md:text-left lg:mx-12">
                <div class="flex justify-center md:block">
                    <FormCheckRadio
                        v-model="userSwitchVal"
                        :input-value="true"
                        label="Notifications"
                        name="notifications-switch"
                        type="switch"
                    />
                </div>
                <h1 class="text-2xl">
                    Howdy, <b>{{ userName }}</b
                >!
                </h1>
                <p>Last login <b>12 mins ago</b> from <b>127.0.0.1</b></p>
                <div class="flex justify-center md:block">
                    <PillTag :icon="mdiCheckDecagram" color="info" label="Verified"/>
                </div>
            </div>
        </BaseLevel>
    </CardBox>
</template>
