<!--
  - ROO :: Religionsunterricht leichtgemacht
  -
  - @package Roo
  - @author Christoph Fischer <chris@toph.de>
  - @copyright (c) Christoph Fischer, https://christoph-fischer.de
  - @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
  - @link https://codeberg.org/peregrinus/roo
  - @version git: $Id$
  -
  - Roo is based on the Laravel framework (https://laravel.com).
  - This file may contain code created by Laravel's scaffolding functions.
  -
  - This program is free software: you can redistribute it and/or modify
  - it under the terms of the GNU General Public License as published by
  - the Free Software Foundation, either version 3 of the License, or
  - (at your option) any later version.
  -
  - This program is distributed in the hope that it will be useful,
  - but WITHOUT ANY WARRANTY; without even the implied warranty of
  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  - GNU General Public License for more details.
  -
  - You should have received a copy of the GNU General Public License
  - along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<script setup>
import { Head, Link } from '@inertiajs/vue3'
import NavbarHeader from '@/Components/AppLayout/NavbarHeader.vue'
import BaseIcon from '@/Components/BaseIcon.vue'
import { mdiCog, mdiLogout, mdiMonitor, mdiTownHall } from '@mdi/js'

const props = defineProps({
    title: String,
    noHeader: Boolean,
})
</script>


<template>
    <div>
        <Head v-if="title" :title="title"/>
        <header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">

            <NavbarHeader/>
            <ul class="navbar-nav flex-row d-md-none">
                <li class="nav-item text-nowrap">
                    <button aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle search"
                            class="nav-link px-3 text-white" data-bs-target="#navbarSearch" data-bs-toggle="collapse"
                            type="button">
                        <svg class="bi">
                            <use xlink:href="#search"/>
                        </svg>
                    </button>
                </li>
                <li class="nav-item text-nowrap">
                    <button aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation"
                            class="nav-link px-3 text-white" data-bs-target="#sidebarMenu" data-bs-toggle="offcanvas"
                            type="button">
                        <svg class="bi">
                            <use xlink:href="#list"/>
                        </svg>
                    </button>
                </li>
            </ul>

            <div id="navbarSearch" class="navbar-search w-100 collapse">
                <input aria-label="Search" class="form-control w-100 rounded-0 border-0" placeholder="Search"
                       type="text">
            </div>
        </header>

        <div class="container-fluid">
            <div class="row">
                <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
                    <div id="sidebarMenu" aria-labelledby="sidebarMenuLabel"
                         class="offcanvas-lg offcanvas-end bg-body-tertiary"
                         tabindex="-1">
                        <div class="offcanvas-header">
                            <h5 id="sidebarMenuLabel" class="offcanvas-title">ROO</h5>
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="offcanvas"
                                    data-bs-target="#sidebarMenu" type="button"></button>
                        </div>
                        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <Link :href="route('dashboard')" aria-current="page"
                                          class="nav-link d-flex align-items-center gap-2 active">
                                        <BaseIcon :path="mdiMonitor"/>
                                        Übersicht
                                    </Link>
                                </li>
                            </ul>

                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
                                <span>Verwaltung</span>
                            </h6>
                            <ul class="nav flex-column mb-auto">
                                <li class="nav-item">
                                    <Link :href="route('schools.index')"
                                          class="nav-link d-flex align-items-center gap-2">
                                        <BaseIcon :path="mdiTownHall"/>
                                        Schulen
                                    </Link>
                                </li>
                            </ul>

                            <hr class="my-3">

                            <ul class="nav flex-column mb-auto">
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center gap-2" href="#">
                                        <BaseIcon :path="mdiCog"/>
                                        Einstellungen
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <Link :href="route('logout')" class="nav-link d-flex align-items-center gap-2">
                                        <BaseIcon :path="mdiLogout"/>
                                        Abmelden
                                    </Link>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <div v-if="!noHeader"
                         class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">{{ title }}</h1>
                        <slot name="header-toolbar"/>
                    </div>

                    <slot/>

                </main>
            </div>
        </div>
    </div>

</template>


<style scoped>
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
    .sidebar .offcanvas-lg {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
        min-height: 100vh;
    }

    .navbar-search {
        display: block;
    }
}

.sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar-heading {
    font-size: .75rem;
}


.navbar .form-control {
    padding: .75rem 1rem;
}


</style>
