<!--
  - /**
  -  * ROO :: Religionsunterricht leichtgemacht
  -  *
  -  * @package Roo
  -  * @author Christoph Fischer <chris@toph.de>
  -  * @copyright (c) Christoph Fischer, https://christoph-fischer.de
  -  * @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
  -  * @link https://codeberg.org/peregrinus/roo
  -  * @version git: $Id$
  -  *
  -  * Roo is based on the Laravel framework (https://laravel.com).
  -  * This file may contain code created by Laravel's scaffolding functions.
  -  *
  -  * This program is free software: you can redistribute it and/or modify
  -  * it under the terms of the GNU General Public License as published by
  -  * the Free Software Foundation, either version 3 of the License, or
  -  * (at your option) any later version.
  -  *
  -  * This program is distributed in the hope that it will be useful,
  -  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  -  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -  * GNU General Public License for more details.
  -  *
  -  * You should have received a copy of the GNU General Public License
  -  * along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -  */
  -
  -->

<script setup>
import { Head, useForm } from '@inertiajs/vue3'
import { mdiAccount, mdiAsterisk } from '@mdi/js'
import SectionFullScreen from '@/Components/SectionFullScreen.vue'
import CardBox from '@/Components/CardBox.vue'
import FormCheckRadio from '@/Components/FormCheckRadio.vue'
import FormField from '@/Components/FormField.vue'
import FormControl from '@/Components/FormControl.vue'
import BaseButton from '@/Components/BaseButton.vue'
import BaseButtons from '@/Components/BaseButtons.vue'
import LayoutGuest from '@/Layouts/LayoutGuest.vue'

const form = useForm({
    email: '',
    password: '',
    remember: false,
})

const submit = () => {
    form.transform(data => ({
        ...data,
        remember: form.remember ? 'on' : '',
    })).post(route('login'), {
        onFinish: () => form.reset('password'),
    })
}
</script>

<template>
    <LayoutGuest>
        <Head title="Anmelden"/>
        <SectionFullScreen v-slot="{ cardClass }" bg="purplePink">
            <CardBox :class="cardClass" is-form @submit.prevent="submit">
                <FormField label="Benutzername">
                    <FormControl
                        v-model="form.email"
                        :autofocus="true"
                        :icon="mdiAccount"
                        autocomplete="email"
                        name="email"
                    />
                </FormField>

                <FormField label="Passwort">
                    <FormControl
                        v-model="form.password"
                        :icon="mdiAsterisk"
                        autocomplete="current-password"
                        name="password"
                        type="password"
                    />
                </FormField>

                <FormCheckRadio
                    v-model="form.remember"
                    :input-value="true"
                    label="Angemeldet bleiben"
                    name="remember"
                />

                <template #footer>
                    <BaseButtons>
                        <BaseButton color="info" label="Anmelden" type="submit"/>
                    </BaseButtons>
                </template>
            </CardBox>
        </SectionFullScreen>
    </LayoutGuest>
</template>
